main {
  padding: 0 15% 10% 15%;
  font-family: 'Roboto', sans-serif;
  color: #e4e6c3;
  background-color: #222725;
  position: absolute; }

hr {
  margin: 125px 0 125px 0;
  background-color: #ffc15e; }

h2 {
  font-family: 'Kanit', sans-serif; }

h3, h4 {
  font-family: 'Kanit', sans-serif;
  text-decoration: underline; }

h5 {
  font-family: 'Kanit', sans-serif;
  color: #ffc15e; }

.justify-grid {
  justify-content: center; }

.align-cell {
  text-align: center; }

.push-right {
  margin-left: 35%; }

.push-down {
  margin-top: 70%; }

.collage {
  height: 100%;
  background: url("assets/collage.png");
  background-size: cover;
  position: absolute;
  left: 0;
  right: 0;
  -webkit-filter: brightness(35%);
  -moz-filter: brightness(35%);
  -o-filter: brightness(35%);
  -ms-filter: brightness(35%);
  filter: brightness(35%); }

.overlay {
  left: 15%;
  right: 15%;
  position: absolute; }

.b-progress {
  display: inline;
  margin: 0 2px 0 2px;
  border-radius: 4px;
  padding: 0px 15px 0px 15px;
  background-color: #80dfff; }

.i-progress {
  display: inline;
  margin: 0 2px 0 2px;
  border-radius: 4px;
  padding: 0px 15px 0px 15px;
  background-color: #bfff80; }

.a-progress {
  display: inline;
  margin: 0 2px 0 2px;
  border-radius: 4px;
  padding: 0px 15px 0px 15px;
  background-color: #ff9f80; }

.odo-box {
  color: #ffc15e;
  text-align: center;
  font-size: 12px; }

.mdl-layout__header {
  color: #222725;
  background-color: #899878; }

.mdl-layout__tab-bar, .mdl-layout__tab-bar-button {
  background-color: #899878; }

.mdl-card {
  width: 100%;
  height: 80%;
  background-color: #222725;
  box-shadow: 2px 2px 0.5px 1px #e4e6c3, 1px 1px 0.25px 0.5px #e4e6c3; }
  .mdl-card .mdl-card__title {
    height: 300px;
    padding: 0; }
    .mdl-card .mdl-card__title .mdl-card__title-text {
      color: #e4e6c3;
      background-color: rgb(0, 0, 0, 0.5);
      width: 100%;
      padding: 5px;
      text-align: center; }
      .mdl-card .mdl-card__title .mdl-card__title-text:hover {
        color: #ffc15e;
        transition: ease .5s; }
  .mdl-card .tts {
    background: url("assets/tts.jpg");
    background-size: cover; }
  .mdl-card .uncc {
    background: url("assets/uncc.jpg");
    background-size: cover; }
  .mdl-card .myw {
    background: url("assets/myw.png");
    background-size: cover; }
  .mdl-card .cws {
    background: url("assets/cws.png");
    background-size: cover; }
  .mdl-card .mdl-card__supporting-text, .mdl-card .mdl-card__title-text {
    color: #e4e6c3; }

.mdl-button {
  font-family: 'Kanit', sans-serif;
  color: #e4e6c3; }
  .mdl-button:hover {
    color: #ffc15e;
    transition: ease .5s; }

.mdl-list .mdl-list__item-icon {
  color: #ffc15e; }
.mdl-list li {
  color: #e4e6c3; }

.change-bullet {
  color: red; }

.material-icons {
  font-size: 50px; }
  .material-icons:hover {
    color: #ffc15e;
    transition: ease .5s; }

.section-header {
  text-align: center; }

.social-buttons .facebook {
  display: inline; }
  .social-buttons .facebook a img {
    margin: 0 2px 0 2px;
    border-radius: 100%;
    height: 32px;
    width: 32px; }
    .social-buttons .facebook a img:hover {
      background-color: #4267b2;
      transition: ease .5s; }
.social-buttons .twitter {
  display: inline; }
  .social-buttons .twitter a img {
    margin: 0 2px 0 2px;
    border-radius: 100%;
    height: 32px;
    width: 32px; }
    .social-buttons .twitter a img:hover {
      background-color: #1da1f2;
      transition: ease .5s; }
.social-buttons .linkedin {
  display: inline; }
  .social-buttons .linkedin a img {
    margin: 0 2px 0 2px;
    border-radius: 100%;
    height: 32px;
    width: 32px; }
    .social-buttons .linkedin a img:hover {
      background-color: #0077b5;
      transition: ease .5s; }
.social-buttons .google {
  display: inline; }
  .social-buttons .google a img {
    margin: 0 2px 0 2px;
    border-radius: 100%;
    height: 32px;
    width: 32px; }
    .social-buttons .google a img:hover {
      background-color: #cb3c2c;
      transition: ease .5s; }
.social-buttons .github {
  display: inline; }
  .social-buttons .github a img {
    margin: 0 2px 0 2px;
    border-radius: 100%;
    height: 32px;
    width: 32px; }
    .social-buttons .github a img:hover {
      background-color: #e2e4e9;
      transition: ease .5s; }

/*# sourceMappingURL=styles.css.map */
