$facebook: rgb(66, 103, 178);
$twitter: rgb(29, 161, 242);
$linkedin: rgb(0, 119, 181);
$google: rgb(203, 60, 44);
$github: rgb(226, 228, 233);

//theme
$color1: rgb(255, 193, 94 ); //decoration color
$color2: rgb(228, 230, 195); //text color
$color3: rgb(137, 152, 120); //banner color
$color4: rgb(34,  39,  37 ); //background-color
$color5: rgb(255, 92,  92 );

@mixin social-button($color) {
  display: inline;
  a {
    img {
      margin: 0 2px 0 2px;
      border-radius: 100%;
      height: 32px;
      width: 32px;
      &:hover {
        background-color: $color;
        transition: ease .5s;
      }
    }
  }
}

.mdl-layout__header {
  color: $color4;
  background-color: $color3;
}

.mdl-layout__tab-bar, .mdl-layout__tab-bar-button {
  background-color: $color3;
}

main {
  padding: 0 15% 10% 15%;
  font-family: 'Roboto', sans-serif;
  color: $color2;
  background-color: $color4;
  position: absolute;
}

hr {
  margin: 125px 0 125px 0;
  background-color: $color1;
}

h2 {
  font-family: 'Kanit', sans-serif;
}

h3, h4 {
  font-family: 'Kanit', sans-serif;
  text-decoration: underline;
}

h5 {
  font-family: 'Kanit', sans-serif;
  color: $color1;
}

.collage {
  height: 100%;
  background: url('assets/collage.png');
  background-size: cover;
  position:absolute;
  left: 0;
  right: 0;
  -webkit-filter: brightness(35%);
  -moz-filter: brightness(35%);
  -o-filter: brightness(35%);
  -ms-filter: brightness(35%);
  filter: brightness(35%);
}

.overlay {
  left: 15%;
  right: 15%;
  position: absolute;
}

.mdl-card {
  width: 100%;
  height: 80%;
  background-color: $color4;
  box-shadow: 2px 2px 0.5px 1px $color2, 1px 1px 0.25px 0.5px $color2;
  .mdl-card__title {
    height: 300px;
    .mdl-card__title-text {
      //insert css into styles.css at bottom of this file
      color: $color2;
      &:hover {
        color: $color1;
        transition: ease .5s;
      }
    }
  }
  .tts {
    background: url('assets/tts.jpg');
    background-size: cover;
  }
  .uncc {
    background: url('assets/uncc.jpg');
    background-size: cover;
  }
  .myw {
    background: url('assets/myw.png');
    background-size: cover;
  }
  .cws {
    background: url('assets/cws.png');
    background-size: cover;
  }
  .mdl-card__supporting-text, .mdl-card__title-text { color: $color2; }
}

.mdl-button {
  font-family: 'Kanit', sans-serif;
  color: $color2;
  &:hover {
    color: $color1;
    transition: ease .5s;
  }
}

.justify-grid { justify-content: center; }

.align-cell { text-align: center; }

.push-right { margin-left: 35%; }

.push-down { margin-top: 70%; }

.mdl-list {
  .mdl-list__item-icon {
    color: $color1;
  }
  li {
    color: $color2;
  }
}

.material-icons {
  font-size: 50px;
  &:hover {
    color: $color1;
    transition: ease .5s;
  }
}

.section-header { text-align: center; }

.social-buttons {
  .facebook {
    @include social-button($facebook);
  }
  .twitter {
    @include social-button($twitter);
  }
  .linkedin {
    @include social-button($linkedin);
  }
  .google {
    @include social-button($google);
  }
  .github {
    @include social-button($github);
  }
}

// .mdl-card .mdl-card__title {
//   height: 300px;
//   padding: 0; }
//   .mdl-card .mdl-card__title .mdl-card__title-text {
//     color: #e4e6c3;
//     background-color: rgb(0, 0, 0, 0.5);
//     width: 100%;
//     padding: 5px;
//     text-align: center; }
