$facebook: rgb(66, 103, 178);
$twitter: rgb(29, 161, 242);
$linkedin: rgb(0, 119, 181);
$google: rgb(203, 60, 44);
$github: rgb(226, 228, 233);

@mixin social-button($color) {
  display: inline;
  a {
    img {
      margin: 0 2px 0 2px;
      border-radius: 100%;
      height: 32px;
      width: 32px;
      &:hover {
        background-color: $color;
        transition: ease .25s;
      }
    }
  }
}

.justify-grid {
  justify-content: center;
}

.align-cell {
  text-align: center;
}

.mdl-list {
  li {
    margin-left: 35%;
  }
}

.center {
  text-align: center;
}

.mdl-layout__content {
  padding: 0 15% 0 15%;
}

.social-buttons {
    .facebook {
      @include social-button($facebook);
    }
    .twitter {
      @include social-button($twitter);
    }
    .linkedin {
      @include social-button($linkedin);
    }
    .google {
      @include social-button($google);
    }
    .github {
      @include social-button($github);
    }
  }
